.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  border-bottom: 1px solid #efefef;
  box-shadow: 5px 5px 20px 5px rgba(132, 142, 166, 0.8);
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.logo:first-child {
  cursor: pointer;
}

.logo div:first-child {
  cursor: pointer;
}

.search {
  display: flex;
  gap: 10px;
}

.search span {
  margin: auto 0;
}
.search input {
  padding: 5px 10px;
}
